<!-- <div id="carousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>


	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/assets/images/img-1.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/img-2.jpg" class="d-block w-70" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/img-3.jpg" class="d-block w-70" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/food-img3.jfif" class="d-block w-70" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/food_img2.jpg" class="d-block w-70" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel"
		data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel"
		data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<footer class="footer bg-dark text-white text-center py-3">
	<p>&copy; 2024 Zero Hunger. All rights reserved.</p>
</footer> -->


<!-- <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="position: relative;">
            <img src="/assets/images/img-1.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, #ffffffbe 0%, rgba(255, 255, 255, 0.685) 100%);"></div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img-2.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"></div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img-3.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"></div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/food-img3.jfif" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"></div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/food_img2.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->


<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="position: relative;">
            <img src="/assets/images/img-1.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.623) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Help With Hunger By Donating Today</h2>
                <p style="margin-top: 20px;">"If you cannot feed a hundred people, Then feed just one"</p>
            </div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img7.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.678) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Join The Fight Against Hunger</h2>
                <p style="margin-top: 20px;">"Join The Fight Against Hunger"</p>
            </div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img-3.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.678) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Spread The Word About Food Waste</h2>
                <p style="margin-top: 20px;">"Awareness leads to action, action leads to change."</p>
            </div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/food-img3.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.678) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Make A Difference With Your Donations</h2>
                <p style="margin-top: 20px;">"Your surplus can be someone's lifeline."</p>
            </div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img6.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.678) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Join Our Cause To End Hunger</h2>
                <p style="margin-top: 20px;">"Small acts, when multiplied by millions of people, can transform the world."</p>
            </div>
        </div>
		<div class="carousel-item" style="position: relative;">
            <img src="/assets/images/img8.jpg" class="d-block w-100" alt="...">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.678) 100%);"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: rgb(7, 7, 7);">
                <h2 style="font-weight: bold;">Your Contributions Matter</h2>
                <p style="margin-top: 20px;">"Every donation counts, no matter the size."
				</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<footer class="footer bg-dark text-white text-center py-0">
	<p>&copy; 2024 Zero Hunger. All rights reserved.</p>
</footer>
